<footer>
    <br />
    <br />
    <p>
      POKEMON<br />
      Gotta Catch 'Em All
    </p>
    <br>
    <div class="social-icons">
      <a href="https://github.com/vincentvigonte" target="_blank" class="icon-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://facebook.com/vincentvigonte" target="_blank" class="icon-link">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/vince" target="_blank" class="icon-link">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <p>
      &copy; 2023 Vince. All Rights Reserved.
    </p>
  </footer>